@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-BlackItalic.eot');
    src: url('Aloevera-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-BlackItalic.woff2') format('woff2'),
        url('Aloevera-BlackItalic.woff') format('woff'),
        url('Aloevera-BlackItalic.ttf') format('truetype'),
        url('Aloevera-BlackItalic.svg#Aloevera-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-ExtraBoldItalic.eot');
    src: url('Aloevera-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-ExtraBoldItalic.woff2') format('woff2'),
        url('Aloevera-ExtraBoldItalic.woff') format('woff'),
        url('Aloevera-ExtraBoldItalic.ttf') format('truetype'),
        url('Aloevera-ExtraBoldItalic.svg#Aloevera-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Black.eot');
    src: url('Aloevera-Black.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Black.woff2') format('woff2'),
        url('Aloevera-Black.woff') format('woff'),
        url('Aloevera-Black.ttf') format('truetype'),
        url('Aloevera-Black.svg#Aloevera-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Medium.eot');
    src: url('Aloevera-Medium.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Medium.woff2') format('woff2'),
        url('Aloevera-Medium.woff') format('woff'),
        url('Aloevera-Medium.ttf') format('truetype'),
        url('Aloevera-Medium.svg#Aloevera-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera-RegularItalic';
    src: url('Aloevera-RegularItalic.eot');
    src: url('Aloevera-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-RegularItalic.woff2') format('woff2'),
        url('Aloevera-RegularItalic.woff') format('woff'),
        url('Aloevera-RegularItalic.ttf') format('truetype'),
        url('Aloevera-RegularItalic.svg#Aloevera-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-SemiBold.eot');
    src: url('Aloevera-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-SemiBold.woff2') format('woff2'),
        url('Aloevera-SemiBold.woff') format('woff'),
        url('Aloevera-SemiBold.ttf') format('truetype'),
        url('Aloevera-SemiBold.svg#Aloevera-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Light.eot');
    src: url('Aloevera-Light.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Light.woff2') format('woff2'),
        url('Aloevera-Light.woff') format('woff'),
        url('Aloevera-Light.ttf') format('truetype'),
        url('Aloevera-Light.svg#Aloevera-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Lightitalic.eot');
    src: url('Aloevera-Lightitalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Lightitalic.woff2') format('woff2'),
        url('Aloevera-Lightitalic.woff') format('woff'),
        url('Aloevera-Lightitalic.ttf') format('truetype'),
        url('Aloevera-Lightitalic.svg#Aloevera-Lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-MediumItalic.eot');
    src: url('Aloevera-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-MediumItalic.woff2') format('woff2'),
        url('Aloevera-MediumItalic.woff') format('woff'),
        url('Aloevera-MediumItalic.ttf') format('truetype'),
        url('Aloevera-MediumItalic.svg#Aloevera-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Regular.eot');
    src: url('Aloevera-Regular.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Regular.woff2') format('woff2'),
        url('Aloevera-Regular.woff') format('woff'),
        url('Aloevera-Regular.ttf') format('truetype'),
        url('Aloevera-Regular.svg#Aloevera-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-ExtraBold.eot');
    src: url('Aloevera-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-ExtraBold.woff2') format('woff2'),
        url('Aloevera-ExtraBold.woff') format('woff'),
        url('Aloevera-ExtraBold.ttf') format('truetype'),
        url('Aloevera-ExtraBold.svg#Aloevera-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-ExtraLightItalic.eot');
    src: url('Aloevera-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-ExtraLightItalic.woff2') format('woff2'),
        url('Aloevera-ExtraLightItalic.woff') format('woff'),
        url('Aloevera-ExtraLightItalic.ttf') format('truetype'),
        url('Aloevera-ExtraLightItalic.svg#Aloevera-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-ExtraLight.eot');
    src: url('Aloevera-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-ExtraLight.woff2') format('woff2'),
        url('Aloevera-ExtraLight.woff') format('woff'),
        url('Aloevera-ExtraLight.ttf') format('truetype'),
        url('Aloevera-ExtraLight.svg#Aloevera-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Bold.eot');
    src: url('Aloevera-Bold.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Bold.woff2') format('woff2'),
        url('Aloevera-Bold.woff') format('woff'),
        url('Aloevera-Bold.ttf') format('truetype'),
        url('Aloevera-Bold.svg#Aloevera-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-ThinItalic.eot');
    src: url('Aloevera-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-ThinItalic.woff2') format('woff2'),
        url('Aloevera-ThinItalic.woff') format('woff'),
        url('Aloevera-ThinItalic.ttf') format('truetype'),
        url('Aloevera-ThinItalic.svg#Aloevera-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-Thin.eot');
    src: url('Aloevera-Thin.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-Thin.woff2') format('woff2'),
        url('Aloevera-Thin.woff') format('woff'),
        url('Aloevera-Thin.ttf') format('truetype'),
        url('Aloevera-Thin.svg#Aloevera-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aloevera';
    src: url('Aloevera-SemiBoldItalic.eot');
    src: url('Aloevera-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Aloevera-SemiBoldItalic.woff2') format('woff2'),
        url('Aloevera-SemiBoldItalic.woff') format('woff'),
        url('Aloevera-SemiBoldItalic.ttf') format('truetype'),
        url('Aloevera-SemiBoldItalic.svg#Aloevera-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

